<div class="row" id="grettings">
  <% if current_admin_user %>
    <div id="user-name" class="span3 pull-right">
      <%= current_admin_user.name %>
      <%= link_to "Logout", admin_logout_path %>
    </div>
  <% end %>
</div>