/* INCLUDES */
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);

/* LAYOUT */

body {
  background-color: #FAF8F9;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
}

.clear { clear: both; }
.hide { display: none; }

.big {
  font-family: "Arbutus Slab", serif;
  font-size: 18px;
  font-weight: bold;
  color: #DB333A;
}

strong {
  font-weight: bold;
}

p {
  line-height: 1.2em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#wrapper.home {
  background-image: url("../img/home.png"), url("../img/background-film.png"), url("../img/background-grey.jpg");
}

#wrapper.cinecitarios {
  background-image: url("../img/donaciones.png"), url("../img/background-film.png"), url("../img/background-grey.jpg");
}

#wrapper.chair_support {
  background-image: url("../img/apadrina.png"), url("../img/background-film.png"), url("../img/background-grey.jpg");
}

#wrapper {
  width: 1400px;
  margin: 0 auto;
  background-position: left top, right top, left top;
  background-repeat: no-repeat, no-repeat, repeat-x;
  padding: 20px 210px 40px 210px;
  box-sizing: border-box;
}


.right_column {
  width: 640px;
  margin-left: 340px;
  position: relative;
}

/* COMMON */

.right_column h2 {
  font-family: "Arbutus Slab", serif;
  font-size: 30px;
  font-weight: bold;
  color: #DB333A;
  margin-bottom: 15px;
}

.right_column img.image_decoration {
  width: 120px;
  position: absolute;
  top: -55px;
  right: 0px;
}

/* HEADER */

#header {
  position: relative;
}

#header h2{
  width: 150px;
  height: 25px;
  background-image: url("../img/logo-cineciutat.png");
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: -9999px;
}

#header h1{
  height: 70px;
  background: url("../img/logo-yotengouncine-esp.png");
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: -9999px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* HEADER:menu */

#header .menu {
  color: #666666;
  margin-top: 15px;
}

#header .menu a {
  font-family: "Arbutus Slab", serif;
  font-size: 14px;
  font-weight: bold;
  color: #DB333A;
}

#header .menu li {
  display: inline;
}

#header .menu li.active a{
  font-size: 18px;
}

#header .menu li+li:before {
  content: "/ ";
}

/* HEADER:languages */

#header .languages {
  position: absolute;
  top: 41px;
  right: 0px;
}

#header .languages li {
  display: inline;
}

#header .languages li.disabled a {
  color: #999;
}

#header .languages li+li:before {
  content: "・ ";
}

/* HEADER:social */

#header .social {
  position: absolute;
  top: 0px;
  right: 0px;
}

#header .social li {
  display: inline;
}

/* FOOTER */

#footer {
  background-image: url("../img/footer-line.png");
  background-repeat: repeat-x;
  background-position: left top;
  margin-top: 40px;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}

#footer .copyright {
  font-size: 10px;
  color: #666;
  float: left;
}

#footer .menu {
  font-size: 8px;
  color: #666;
  float: right;
}

#footer .menu ul {
  display: inline;
}

#footer .menu li {
  display: inline;
  font-family: "Arbutus Slab", serif;
  font-size: 10px;
  font-weight: bold;
  margin-left: 12px;
}



/* HOME */

#player {
  width: 640px;
  height: 390px;
  margin-bottom: 20px;
}

/* HOME:home_menu */
#home_menu {
  margin-top: 40px;
  /*background-image: url("../img/opc-sombra.png");*/
  background-position: right top;
  background-repeat: 20px repeat-x;
}

#home_menu .item {
  float: left;
  width: 326px;
  height: 284px;
  padding: 120px 80px 10px 0px;
  box-sizing: border-box;
  position: relative;
}

#home_menu .item a:hover {
  text-decoration: none;
}

#home_menu .item .controls {
  position: absolute;
  left: 0;
  bottom: 0;
}

#home_menu .item.member {
  background-image: url("../img/opc-haztesocio.png");
}

#home_menu .item.chair {
  background-image: url("../img/opc-apadrinabutaca.png");
}

#home_menu .item.cinecitario {
  background-image: url("../img/opc-cinecitarios.png");
}

#home_menu .item {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 44%;
}

#home_menu {
  background-image: url("../img/tramado-bg.gif");
  margin: 40px -200px;
  padding: 0px 200px 20px 200px;
}

#home_menu h1 {
  font-family: "Arbutus Slab", serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


/* CINECITARIOS */

/*#cinecitarios .badges div {
  border: 1px solid black;
  box-sizing: border-box;
}*/

#cinecitarios {
  position: relative;
}

img.image_decoration {
  width: 120px;
  position: absolute;
  top: -55px;
  right: 0px;
}

#cinecitarios .badges {
  color: white;
  text-align: center;
}

#cinecitarios .badges li {
  background-image: url("../img/cinecitarios-ticket-bg.png");
  width: 305px;
  height: 160px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

#cinecitarios .badges .price {
  width: 132px;
  height: 116px;
  float: left;
  padding-top: 21px;
  box-sizing: border-box;
  font-size: 14px;
}

#cinecitarios .badges .price .number {
  font-family: "Arbutus Slab", serif;
  font-size: 60px;
  font-weight: bold;
  display: block;
}

#cinecitarios .badges .text {
  width: 173px;
  height: 116px;
  float: right;
  font-size: 14px;
  padding: 14px 24px 0px 10px;
  box-sizing: border-box;
}



#cinecitarios .badges .text h3 {
  font-family: "Arbutus Slab", serif;
  font-size: 18px;
  margin-bottom: 10px;
}

#cinecitarios .badges .link {
  font-family: "Arbutus Slab", serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 12px;
}

#cinecitarios .badges .link a {
  color: white;
}

#cinecitarios h4 {
  font-family: "Arbutus Slab", serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* CHAIR_SUPPORT */

#chair_support form {
  margin-top: 20px;
  background-image: url("../img/tramado-bg.gif");
  padding: 20px;
}

#chair_support form input[type="text"] {
  padding: 8px;
  width: 388px;
  font-size: 14px;
}

/* THANKS POPUP */

#thanks_content {
  background-image: url("../img/background-gracias.jpg");
  background-position: 32px 112px;
  background-repeat: no-repeat;

  width: 641px;
  height: 488px;

  position: relative;
}

#thanks_content h1 {
  margin-top: 20px;
  text-align: center;
}

#thanks_content h2 {
  margin-bottom: 20px;
}

#thanks_content .text {
  width: 288px;
  margin-left: 286px;
  margin-top: 40px;
}

#thanks_content .links {
  position: absolute;
  bottom: 50px;
}

