<% content_for :section, "cinecitarios" %>

<div id="cinecitarios" class="right_column">
  <div class="image_decoration"></div>

  <h2>Cinecitarios</h2>

  <p>
    Dícese de aquella persona que cuyos principios vitales pasan por
    contribuir a la causa de <strong>CineCiutat</strong> por encima otros caprichos sea cual
    sea su índole o naturaleza.
  </p>

  <p>
    <strong>Existen distintas categorías de Cinecitarios según su aportación:</strong>
  </p>

  <ul class="badges">
    <li>
      <div>
        <div class="price">
          <span class="number">5</span>
          €uros
        </div>
        <div class="text">
          <h3>Acomodador</h3>
          <p>Tiene palomitas más crujientes que los demás</p>
        </div>
        <div class="clear"></div>
        <div class="link">
          <%= link_to "Hacer donación >", "#donation" %>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="price">
          <span class="number">15</span>
          €uros
        </div>
        <div class="text">
          <h3>Proyectista</h3>
          <p>Se lleva un obsequio de CineCiutat</p>
        </div>
        <div class="clear"></div>
        <div class="link">
          <%= link_to "Hacer donación >", "#donation" %>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="price">
          <span class="number">30</span>
          €uros
        </div>
        <div class="text">
          <h3>Gerente</h3>
          <p>Puede llevarse diversos productos Filmin</p>
        </div>
        <div class="clear"></div>
        <div class="link">
          <%= link_to "Hacer donación >", "#donation" %>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="price">
          <span class="number">5</span>
          €uros
        </div>
        <div class="text">
          <h3>Productor</h3>
          <p>No sólo es gerente de un cine sino que le obsequiamos con productos Filmin</p>
        </div>
        <div class="clear"></div>
        <div class="link">
          <%= link_to "Hacer donación >", "#donation" %>
        </div>
      </div>
    </li>
  </ul>
  <div class="clear"></div>

  <h4>¿Cómo realizar las aportaciones?</h4>

  <p>
    Las aportaciones se realizan por transferencia bancaria en el número de cuenta que os indicamos a continuación.
  </p>

  <p class="big">
    Caixa Colonya: 2056-0007-85-4102001438
  </p>

  <p>
    Puedes acercarte a recoger tu obsequio a las taquillas de CineCiutat en horario comercial, con tu DNI y el justificante de pago.
  </p>
</div>
