<% content_for :section, "home" %>

<div id="home" class="right_column">

  <p>
    Quizás nunca viajes a las Seychelles. Igual tampoco saldrás de copas con cracks del deporte, ni
    vivirás en mansiones con 30 Chihuahuas Pincher miniatura pero… <strong>¡¡¡Tienes un cine!!!</strong>
  </p>

  <p>
    Aquí os mostramos los spots de los orgullosos propietarios de CineCiutat. Seguro que pronto estaréis entre ellos.
  </p>

  <div id="player">
    <%= image_tag "/assets/app/front/img/video.jpg" %>
  </div>

  <p class="big">
    <strong>CineCiutat</strong> es una iniciativa pionera nacida del amor por el séptimo arte de gente de Mallorca.
  </p>

  <p>
    El afán de esas personas en impedir que ese cine especial, que conmueve y que es ajeno a lo puramente comercial,
    desapareciera, consiguió que el <strong>emblemático cine de S'Escorxador</strong>
    reabriera sus puertas con el nombre de <strong>CineCiutat</strong>
    tras el cierre del antiguo Renoir.
  </p>

  <p>
    A día de hoy, el cine que tantos cinéfilos se empeñaron en conseguir es ya una realidad.
    <strong>CineCiutat</strong> se ha consolidado como un referente de cine ciudadano, democrático,
    con películas independientes, de calidad y en V.O.S.E, y ciclos de cine clásico, coloquios
    con personalidades del mundo del cine, talleres para niños y sesiones familiares, entre otras
    iniciativas propuestas por los socios de <strong>CineCiutat</strong>.
  </p>

  <p>
    Porque en <strong>CineCiutat</strong>, son los socios quienes hacen el cine, quienes eligen, quienes aportan
    y quienes deciden. Por ello, cada socio puede decir sin complejos <strong>"Yo tengo un cine"</strong>,
    porque, sin su apoyo y el de todos los demás socios, el cine dejaría de existir; su aportación
    hace posible <strong>CineCiutat</strong>, por lo que todos y cada uno de los socios tienen,
    efectivamente, <strong>un cine: el suyo, el que ellos quieran tener</strong>.
  </p>

  <p>
    <strong>¿Quieres tú un cine?</strong> ¿Quieres contribuir a salvar la magia, los fotogramas,
    las BSO y los diálogos que marcaron tu vida y la completaron? Entonces, ten tu cine,
    di ante todos y en voz alta <strong>"Yo tengo un cine"</strong>, siéntete orgulloso de preservar algo bello
    y forma parte de esta iniciativa única.
  </p>
</div>

<div id="home_menu">
  <div class="item member">
    <h1>Hazte socio</h1>
    <p>¿Quieres un cine? Entonces, ten un cine... Únete a nuestra comunidad de apasionados del cine.</p>
    <p>Benefíciate de sus ventajas, descuentos y disfruta de grandes películas.</p>
    <%= link_to "Hacerme socio >", "http://socis.cineciutat.org", :class => "button" %>
  </div>

  <div class="item chair">
    <h1>Apadrina una butaca</h1>
    <p>
      Son ellas. Compañeras silenciosas que te han respaldado en infinidad de aventuras.
      En ellas te has reído, las has estrujado cuando tenías miedo, han soportado tus llantos...
      <strong>¿No crees que ya va siendo hora de agradecérselo?</strong>
    </p>
    <%= link_to "Apadrinar butaca >", front_page_path("chair_support"), :class => "button" %>
  </div>

  <div class="item cinecitario">
    <h1>Cinecitario</h1>
    <p>
      dícese de aquella persona que cuyos principios vitales pasan por contribuir a
      la causa de <strong>CineCiutat</strong> por encima otros caprichos sea cual sea su índole o naturaleza.
    </p>
    <%= link_to "Hacer donación >", front_page_path("cinecitarios"), :class => "button" %>
  </div>

  <div class="clear"></div>
</div>